<div class="row align-items-lg-center">
  <div class="col-8 mx-auto col-md-4 order-md-1 col-lg-5">
    <img class="img-fluid" src="../../../assets/images/Skull-Icon.svg">
  </div>
  <div id="intro-text" class="col-md-8 order-md-2 col-lg-7 text-md-start">
    <h1 class="mb-3">HorrorDB, votre portal vers l'Horreur en ligne</h1>
    <p class="mb-4">Recherchez-vous quelque chose de nouveau à regarder lors de vos soirées sombres ? HorreurDB vous offre une base de données unique dans l'Internet francophone, regroupant web séries d'horreur et autres frissons en ligne.</p>
  </div>
</div>
